<div id="standard-comment" class="sixteen wide column">
    <div class="ui centered grid">
        <div class="one wide column">
            <h4>U D</h4>
        </div>
        <div id="text-container" class="fifteen wide column red">
            <h4 class="inline num">Num</h4>
            <p id="comment-text" class="inline">This is what I really don't like about htis place</p>
        </div>
    </div>
</div>
