<div id="user-show" class="ui grid">
    <div id="sidebar" class="two wide column"><!--Sidebar-->
    </div>
    <div id="right-section" class="fourteen wide column">
        <div id="user-show" class="ui centered grid">


            <div id="left-section" class="left floated eight wide column">
                <div class="ten wide left aligned column">
                    <h1 id="user-greeting">Hi, <%= @user_presenter.name  %></h1>
                </div>

                <div id='follows-container' class="center aligned column">
                    <h1 id='following-header' class="ui horizontal divider header">Following</h1>
                    <br>
                    <div id="shadow-container" class="ui segment">
                        <div id="user-scroll" class="ui centered grid">
                            <%= render partial: "layouts/follow", collection: @user_presenter.follows %>
                        </div>
                    </div>
                </div>
            </div><!-- LEFT SECTION -->

            <div class="six wide center aligned column"><!--User info-->
                <div class="ui grid">
                    <div class="sixteen wide center aligned column">
                        <h3 id="my-information">My Information</h3>
                    </div>
                    <hr>
                    <div class="sixteen wide center aligned column">
                        <h4>Email: <%= @user_presenter.email %></h4>
                    </div>

                    <div class="sixteen wide center aligned column">
                        <h4>Status:  Singe and willing to mingle</h4>
                    </div>

                    <div id="votes-container" class="sixteen wide center aligned column">
                      <h4 id="votes">Votes: <%= @user_presenter.votes_count %></h4>
                    </div>
                </div>
            </div><!-- user info column-->

        </div><!-- RIGHT SECTION GRID-->
    </div><!-- RIGHT SECTION COLUMN-->
</div>
