<div class="ui fixed inverted large menu">
    <a class="large item">FeedBee</a>
    <div class="right menu">
        <a class="item">Log In</a>
        <a class="item">Sign Up</a>
    </div>
</div>

<div id='main-image' class="ui vertical masthead center aligned segment">
    <div id="search" class="ui grid"><!--Search-->
        <div class="seven wide column">
            <div class="ui fluid action input">
                <input type="text" placeholder="Search...">
                <div class="ui button">Search</div>
            </div>
        </div>
    </div><!--Search-->

    <h1 id="entry">Find out who's doing it best.</h1>
    <h1 id="main-line">Help them do it better.</h1>
        <div class="ui grid">
            <div class="row">
                <div class="five wide column"></div>
                <div class="six wide column">
                    <div id="main-divider" class="ui divider"></div>
                </div>
            </div>
        </div>
    <button id="feedbee" class="ui blue large button">
        FeedBee
    </button>
</div>

<div id="how-to">
    <div class="ui centered grid">
        <div class="five wide column">
            <h1>Visit the page for a business, page or product.</h1>
        </div>
        <div class="five wide column">
            <h1>Agree or Disagree with other comments.</h1>
        </div>
        <div class="five wide column">
            <h1>Get notified when issues are resolved.</h1>
        </div>
    </div>
</div>
