<div class="ui fixed inverted large menu">
    <a class="large item">FeedBee</a>
    <div class="right menu">
        <a class="item">Log In</a>
        <a class="item">Sign Up</a>
    </div>
</div>

<div id='main-image' class="ui vertical masthead center aligned segment">
    <div id="search" class="ui grid"><!--Search-->
        <div class="seven wide column">
            <div class="ui fluid action input">
                <input type="text" placeholder="Search...">
                <div class="ui button">Search</div>
            </div>
        </div>
    </div><!--Search-->

    <h1 id="entry">Find out who's doing it best.</h1>
    <h1 id="main-line">Help them do it better.</h1>
        <div class="ui grid">
            <div class="row">
                <div class="five wide column"></div>
                <div class="six wide column">
                    <div id="main-divider" class="ui divider"></div>
                </div>
            </div>
        </div>
    <button id="feedbee" class="ui blue large button">
        FeedBee
    </button>
</div>


<div id='explanation' class="ui vertical masthead segment">
    <div id="exp-pad">
        <div class="ui grid">
            <div class="row">
                <div class="seven wide left aligned column">
                  <p class="reg-text">What sucks about your local USPS?</p>
                </div>
            </div>

            <div class="row">
                <div class="nine wide left aligned column">
                    <p class="reg-text">Do your earbuds 
                                      always break in the same place?</p>
                </div>
            </div>
            <div class="centered row">
                <div class="seven wide center aligned column">
                    <p class="opinion">Voice your opinion.</p>
                </div>
            </div>

            <div class="centered row">
                <div class="right floated seven wide left aligned column">
                    <p class="action">Make a Difference</p>
                </div>
            </div>
        </div>
    </div>
</div>
