<div class="ui fixed inverted large menu">
    <a class="large item">FeedBee</a>
    <div class="right menu">
      <%= link_to "Log In F", "/auth/facebook", class: "item" %>
        <a class="item">Log In</a>
        <a class="item">Sign Up</a>
    </div>
</div>

<div id='main-image' class="ui vertical masthead center aligned segment">
    <div id="search" class="ui grid"><!--Search-->
        <div class="seven wide column">
            <div class="ui fluid action input">
                <input type="text" placeholder="Search...">
                <div class="ui button">Search</div>
            </div>
        </div>
    </div><!--Search-->

    <h1 id="entry">Find out who's doing it best.</h1>
    <h1 id="main-line">Help them do it better.</h1>
        <div class="ui grid">
            <div class="row">
                <div class="five wide column"></div>
                <div class="six wide column">
                    <div id="main-divider" class="ui divider"></div>
                </div>
            </div>
        </div>
    <button id="feedbee" class="ui blue massive button">
        FeedBee
    </button>
</div>

<div id='works' class="ui one column centered grid ">
    <div class="sixteen wide center aligned column that-works">
        <h1 id="that-works">Finally, a review system that works.</h1>
    </div>
</div>

<div id="how-to">
    <div class="ui three column centered grid cards ">
        <div class="five wide center aligned column">
            <div class="step-content">
                  <img class="ui centered small image icon" src="https://s3-us-west-2.amazonaws.com/feedbee/1446460603_Application.png">
                  <h3>Visit the page for a business, page or product.</h3>
            </div>
        </div>
        <div class="five wide center aligned column">
            <div class="step-content">
                <img class="ui centered small image icon" src="https://s3-us-west-2.amazonaws.com/feedbee/1446460620_Message.png">
                <h3>Agree or Disagree with other comments.</h3>
            </div>
        </div>

        <div class="five wide center aligned column">
            <div class="step-content">
                <img class="ui centered small image icon" src="https://s3-us-west-2.amazonaws.com/feedbee/1446460642_Mail.png">
                <h3>Get notified when issues are resolved.</h3>
            </div>
        </div>
        <div class="five wide center aligned column check-it">
            <button id="feedbee" class="ui blue huge button"> Check it out! </button>
        </div>
    </div>
</div>
