<div class="ui grid">
    <div id="sidebar" class="four wide column"></div>
    <div id="main-section" class="twelve wide column">
        <div class="ui grid">
            <div class="sixteen wide column">
            </div>
            <div class="sixteen wide column">
            </div>
        </div>
    </div>
</div>
