<div class="ui grid">
  <div id="sidebar" class="four wide column">
  </div><!--Sidebar-->

    <div id="right-section" class="twelve wide column">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div id="search" class="ui grid"><!--Search-->
                    <div class="seven wide column">
                        <div class="ui fluid action input">
                          <input type="text" placeholder="Search for something else...">
                            <div class="ui button">Go</div>
                        </div>
                    </div>
                </div><!--Search-->
            </div>
            <div class="sixteen wide column">
            </div>
        </div>
      </div><!--Right Section -->
</div>
