/* Navbar */
#nav-search {
  width: 24em;
}

/* Landing first section */
#main-image {
  padding-top: 80px;
  padding-bottom: 200px;
  background-image: url("https://s3-us-west-2.amazonaws.com/feedbee/people+in+street_Fotor.jpg");
  background-size: cover;
}

#search {
  padding-left: 50px;
  padding-bottom: 150px;
}

#entry {
  font-size: 3em;
}

#main-line {
  font-size: 5em;
}

#main-divider {
  border-top: 5px solid rgba(255, 255, 255, 0.8);
}

#feedbee {
  margin-top: 20px;
}

/* Landing second section */
#works {
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#how-to {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.three {
  position: relative;
}

.that-works {
  margin-bottom: 40px;
}

#that-works {
  font-size: 3.5em;
}

.step-content {
  padding-top: 40px;
  padding-bottom: 30px;
}

.icon {
  padding-bottom:20px;
}

.check-it {
  margin-top: 30px;
}

/* Place Show left section */
#sidebar {
  background-image: linear-gradient(-180deg, rgba(102,137,242,0.73) 0%, rgba(54,81,225,0.73) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.50);
}

#sidebar-grid {
  padding-left: 25px;
}

#picture {
  margin-top: 3em;
  border: 10px solid white;
}

#side-title {
  font-size: 1.5em;
}

/* Place Show right section */

#right-section {
  padding-top: 25px;
}

#page-search {
  padding-right: 10px;
  padding-bottom: 20px;
}

.icon {
  padding-bottom: 0px;
}

#title-container {
  padding-top: 70px;
  padding-bottom: 100px;
}

#title {
  font-size: 3em;
}

#new-comment {
  padding-bottom: 0px;
}

#comment-form {
  padding-left: 50px;
  padding-bottom: 20px;
}

/* Comment Partial*/

#comments-container {
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 60px;
}

#shadow-container {
  /* Rectangle 12: */
  background: #FFFFFF;
  border: 2px solid #979797;
  box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.50);
}

#scroll {
  overflow: auto;
  height: 400px;
}

#standard-comment {
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#comment-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

#text-container {
  height: 3em;
  padding-top: 0.7em;
  padding-bottom: 0px;
  background: rgba(117,255,124,0.46);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
}

#comment-text {
  font-size: 1.2em;
}

.inline {
  display: inline;
}

.num {
  padding-right: 20px;
}
