/* Navbar */
#nav-search {
  width: 24em;
}

/* Landing first section */
#main-image {
  padding-top: 80px;
  padding-bottom: 200px;
  background-image: url("https://s3-us-west-2.amazonaws.com/feedbee/people+in+street_Fotor.jpg");
  background-size: cover;
}

#search {
  padding-left: 50px;
  padding-bottom: 150px;
}

#entry {
  padding-top: 180px;
  font-size: 3em;
}

#main-line {
  font-size: 5em;
}

#main-divider {
  border-top: 5px solid rgba(255, 255, 255, 0.8);
}

#feedbee {
  margin-top: 20px;
}

/* Landing second section */
#works {
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#how-to {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.three {
  position: relative;
}

.that-works {
  margin-bottom: 40px;
}

#that-works {
  font-size: 3.5em;
}

.step-content {
  padding-top: 40px;
  padding-bottom: 30px;
}

.icon {
  padding-bottom:20px;
}

.check-it {
  margin-top: 30px;
}

/* Place Show left section */
#place-show {
  padding-top: 50px;
}
#sidebar {
  background-image: linear-gradient(-180deg, rgba(102,137,242,0.73) 0%, rgba(54,81,225,0.73) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.50);
}

#sidebar-grid {
  padding-left: 25px;
}

#picture {
  margin-top: 3em;
  border: 5px solid white;
  
}

#side-title {
  font-size: 2.5em;
}

#address {
  padding-top: 6px;
  padding-bottom: 6px;
}

#map {
  border: 5px solid white;
  margin-top: 2em;
  margin-bottom: 2em;
}

#directions {
  color: white;
  font-size: 1.5em;
}

/* Place Show right section */

#right-section {
  padding-top: 25px;
  /* Rectangle 2: */
  background-image: linear-gradient(0deg, #F9F9F9 67%, #DDD 100%);
}

#page-search {
  padding-right: 10px;
  padding-bottom: 20px;
}

.icon {
  padding-bottom: 0px;
}

#title-container {
  padding-top: 60px;
}

#title {
  font-size: 3em;
}

#action-container {
  padding-bottom: 30px;
}

#new-comment {
  padding-bottom: 0px;
}

#comment-form {
  padding-left: 50px;
  padding-bottom: 10px;
}

/* Comment Partial*/

#comments-container {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}

#shadow-container {
  margin-top: 0px;
  background: #FFFFFF;
  border: 1px solid #979797;
}

#scroll {
  overflow: auto;
  height: 390px;
}

#standard-comment {
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#comment-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

#text-container {
  height: 3em;
  padding-top: 0.7em;
  padding-bottom: 0px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
}

.positive {
  background: rgba(117,255,124,0.46);
}

.negative {
  background: rgba(255,117,117,0.46);
}

#comment-text {
  font-size: 1.2em;
  color: #111;
}

.inline {
  display: inline;
}

.num {
  padding-right: 20px;
}

/* GENERAL */
.ui.button.hidden {
  display: none;
}

/* User show */

#user-show {
  padding-top: 60px;
}

#user-greeting {
  font-size: 3em;
  padding-left: 150px;
  margin-bottom: 100px;
}

#activity-container {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}

#following-header {
  padding-bottom: 13px;
}

#standard-follow {
  padding-right: 50px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#follow-text-container {
  color: #000000;
  line-height: 21px;
  /* Rectangle 60: */
  border: 1px solid #979797;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 7px;
  background: #B1D1FD;
  padding-top: 0px;
  padding-bottom: 0px;

  margin-top: 8px;
  margin-bottom: 8px;

  margin-left: 10px;
  margin-right: 10px;
}

#followable {
  margin: 0px;
  padding: 0px;
}

#follows-container {
  margin-bottom: 20px;
  margin-left: 40px;
}

#votes-container {
  margin-top: 80px;
}

#votes {
  font-size: 2em;
}

#left-section {
  margin-top: 20px;
}

#user-scroll {
  overflow: auto;
  height: 350px;
}
