/* Landing first section */
#main-image {
  padding-top: 80px;
  padding-bottom: 200px;
  background-image: url("https://s3-us-west-2.amazonaws.com/feedbee/people+in+street_Fotor.jpg");
  background-size: cover;
}

#search {
  padding-left: 50px;
  padding-bottom: 150px;
}

#entry {
  font-size: 3em;
}

#main-line {
  font-size: 5em;
}

#main-divider {
  border-top: 5px solid rgba(255, 255, 255, 0.8);
}

#feedbee {
  margin-top: 20px;
}

/* Landing second section */
#works {
  margin-top: 40px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#how-to {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.three {
  position: relative;
}

.that-works {
  margin-bottom: 40px;
}

#that-works {
  font-size: 3.5em;
}

.step-content {
  padding-top: 40px;
  padding-bottom: 30px;
}

.icon {
  padding-bottom:20px;
}

.check-it {
  margin-top: 30px;
}

/* Place Show left section */
#sidebar {
  background-image: linear-gradient(-180deg, rgba(102,137,242,0.73) 0%, rgba(54,81,225,0.73) 100%);
  box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.50);
}

/* Place Show right section */

#right-section {
  padding-top: 30px;
}
