<div id="standard-comment" class="sixteen wide column">
    <div id="comment-container" class="ui centered grid">
        <div id="votes" class="two wide center aligned column">
          <i id="upvote" class="chevron large up icon"></i>
          <i id="downvote" class="chevron large down icon"></i>
        </div>
        <div id="text-container" class="fourteen wide <%= comment.sentiment %> column">
            <h4 class="inline num">Num</h4>
            <p id="comment-text" class="inline">
                <%= comment.body %>
            </p>
        </div>
    </div>
</div>
