<div id="standard-follow" class="sixteen wide column">
    <div id="follow-container" class="ui centered grid">
        <div id="follow-text-container" class="fourteen wide column">
            <i class="inline remove icon"></i>
                <%= link_to follow.followable.name, place_path(follow.followable.slug), id: "comment-text", class: "inline" %>
        </div>
    </div>
</div>
