<div id="standard-follow" class="sixteen wide column">
    <div id="follow-container" class="ui centered grid">
        <div id="follow-text-container" class="fourteen wide column">
            <i class="inline remove icon"></i>
            <p id="comment-text" class="inline">
                <%= follow.followable.name %>
            </p>
        </div>
    </div>
</div>
