<div id="standard-follow" class="sixteen wide column">
    <div id="comment-container" class="ui centered grid">
        <div class="two wide center aligned column">
          <i class="chevron large up icon"></i>
          <i class="chevron large down icon"></i>
        </div>
        <div id="text-container" class="fourteen wide column">
            <h4 class="inline num">Num</h4>
            <p id="comment-text" class="inline">
                <%= follow.followable.name %>
            </p>
        </div>
    </div>
</div>
